POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak_lab_2024
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Admin1234!
LDAP_ORGANISATION=AcmeCorp
LDAP_DOMAIN=acmecorp.local
LDAP_ADMIN_PASSWORD=LdapAdmin123!
REALM=acmecorp
KC_URL=http://localhost:8080
